.header-wrapper {
  display: flex;
  align-content: center;
  padding: 0 40px;
  margin: 20px 0;

  .col-1 {
    display: flex;
    flex-grow: 1;

    .logo-wrapper {
      display: flex;
      align-items: center;

      .logo {
        width: 55px;
        height: auto;
      }
    }

    .search-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
      font-size: 1.35em;

      .icon {
        cursor: pointer;

        &:hover {
          animation: color-change 4s normal;
        }

        margin-left: 1em;
      }

      .search {
        height: 60px;
        margin: 0 20px;
        display: flex;
        align-items: center;
        min-width: 100%;
        background-color: #eee;
        border-radius: 4px;

        input {
          border: 0;
          background-color: #eee;
          width: 100%;
          height: 100%;
          padding: 0 20px;
          outline: none;
        }
      }

      @media screen and (max-width: 1175px) {
        font-size: 1.25em;
      }
    }
  }


  .nav-items-wrapper {
    display: flex;
    align-items: center;

    width: 40%;
    color: #575757;

    .nav-items {
      display: flex;
      list-style: none;
      font-size: 1.15em;

      .nav-item {
        cursor: pointer;
        margin: 0 12px;

        &:hover {
          animation: color-change 4s normal;
        }
      }
    }

    .auth-wrapper {
      font-size: 1.15em;
      display: flex;
      flex-grow: 1;
      justify-content: end;
      align-items: center;

      .separator {
        margin: 0 8px;
        font-size: 1.5em;
        font-weight: 900;
        animation: color-change 60s infinite;
      }

      > div {
        cursor: pointer;

        &:hover {
          animation: color-change 4s normal;
        }
      }
    }

    @media screen and (max-width: 1175px) {
      width: 50%;
      .nav-items {
        font-size: 1em;
      }
      .auth-wrapper {
        font-size: 1em;
      }
    }

  }

  @media screen and (max-width: 856px) {
    flex-direction: column;
    width: unset;
    padding: 0 10px;
    margin:  0;
    .col-1 {
      margin-top: 15px;
      justify-content: center;
      flex-direction: row-reverse;

      .search-wrapper {
        width: 100%;
        flex-grow: unset;

        .search {
          margin: 0;
        }
      }

      .logo-wrapper {
        margin-left: 20px;
      }
    }
    .nav-items-wrapper {
      width: unset;
      margin-top: 4px;
      .nav-items {
        font-size: 1em;
        padding-left: 0;
      }
    }

    .auth-wrapper {
      margin-right: 8px;
      font-size: 1em;
    }
  }
}

@keyframes color-change {
  0% {
    color: rgba(239, 61, 51, 1);
  }
  50% {
    color: rgb(79, 79, 79);
  }
  100% {
    color: #1e1e1e;
  }
}
