.view-port-wrapper {
  background-color: #e5e5e5;
  height: 100vh;
  overflow-y: scroll;
  .masonry-wrapper {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    padding: 0 10px; /* gutter size offset */
    margin-left: -20px;
    width: auto;

    .image-wrapper {
      margin: 16px 12px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      position: relative;

      .description {
        visibility: hidden;
        position: absolute;
        top: 0;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .65);
        color: white;
        font-size: 1.05em;
        opacity: 0;
        transition: visibility 0s, opacity 0.5s linear;
        p {
          line-height: 30px;
          margin: 20px;
        }
      }

      img {
        border-radius: 16px;
        height: auto;
        max-width: 100%;
        min-width: 100%;
      }

      &:hover {
        .description {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  .my-masonry-grid_column {
    padding-left: 20px; /* gutter size */
    background-clip: padding-box;
  }
}

